In [12]:
#dictionary
dict1={"name":"anbu","age":20,"dep":"cse","year":2021}
print(dict1)
dict1.update({"passout":2025})
print(dict1)
print(dict1["name"])
print(dict1["age"])
print(dict1["dep"])
print(dict1["year"])
dict1.pop("passout")
print(dict1)

{'name': 'anbu', 'age': 20, 'dep': 'cse', 'year': 2021}
{'name': 'anbu', 'age': 20, 'dep': 'cse', 'year': 2021, 'passout': 2025}
anbu
20
cse
2021
{'name': 'anbu', 'age': 20, 'dep': 'cse', 'year': 2021}

In [19]:
#set join
set1={"apple","orange","banana"}
set2={"cherry","apple","watermelon"}
set3=set1.union(set2)
print(set3)
set4=set1|set2#union symbol
print(set4)
set5=set1.intersection(set2)
print(set5)
set6=set1&set2#inetrsection symbol
print(set6)

{'cherry', 'watermelon', 'banana', 'apple', 'orange'}
{'cherry', 'watermelon', 'banana', 'apple', 'orange'}
{'apple'}
{'apple'}

In [21]:
#difference
set1={"apple","orange","banana"}
set2={"cherry","apple","watermelon"}
set3=set1.difference(set2)
print(set3)

{'banana', 'orange'}

In [23]:
# symmentric difference
set1={"apple","orange","banana"}
set2={"cherry","apple","watermelon"}
set3=set1. symmetric_difference(set2)
print(set3)

{'cherry', 'watermelon', 'banana', 'orange'}